{"openapi":"3.0.0","info":{"title":"Grand Arena API","version":"1.0.0","description":"Read-only access to Grand Arena game data.\n\n**Auth:** Pass API key via `x-api-key` header or `Authorization: Bearer` token.\n\n**Rate limits:** Free (100/min), Basic (1000/min), Pro (5000/min). See response headers for usage.\n\n**Get a key:** Visit https://developers.grandarena.gg to request API access.","contact":{"name":"Grand Arena Support","email":"support@moku.gg"}},"servers":[{"url":"https://api.grandarena.gg","description":"Production"}],"tags":[{"name":"System","description":"Health checks"},{"name":"Mokis","description":"NFT characters"},{"name":"Cards","description":"Collectible cards"},{"name":"Card Definitions","description":"Card templates"},{"name":"Matches","description":"Match results"},{"name":"Trainings","description":"Training sessions"},{"name":"Performances","description":"Match performances"},{"name":"Users","description":"Holdings by wallet"},{"name":"Leaderboards","description":"Rankings and scores"},{"name":"Scores","description":"Cached leaderboard score data"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key for authentication. Can also be passed as Bearer token in Authorization header."}},"schemas":{"Pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"},"pages":{"type":"number"}},"required":["page","limit","total","pages"]},"ErrorDetail":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"},"description":"Validation error details (only present for input validation errors)"}},"required":["error","message"]},"CardBurnInfo":{"type":"object","properties":{"burnedAt":{"type":"string","format":"date-time"},"txHash":{"type":"string"},"blockNumber":{"type":"number"},"reason":{"type":"string"}}},"CardLockInfo":{"type":"object","properties":{"lockedAt":{"type":"string","format":"date-time"},"lockedFor":{"type":"string","enum":["crafting","trading","staking","other"]},"reason":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"}}},"CardSeriesInfo":{"type":"object","properties":{"category":{"type":"string"},"series":{"type":"string"},"item":{"type":"string"}}},"Card":{"type":"object","properties":{"id":{"type":"string"},"cardType":{"type":"string","enum":["champion","scheme","other"]},"cardName":{"type":"string"},"rarity":{"type":"string","enum":["basic","rare","epic","legendary"]},"rank":{"type":"number"},"grade":{"type":"number"},"tokenId":{"type":"number"},"cardId":{"type":"number"},"minted":{"type":"boolean"},"mokiId":{"type":"string","description":"For moki-type cards"},"ownerAddress":{"type":"string"},"imageUrl":{"type":"string"},"serialized":{"type":"object","properties":{"id":{"type":"number"},"max":{"type":"number"}},"required":["id","max"]},"burned":{"type":"boolean"},"locked":{"type":"boolean"},"burnInfo":{"$ref":"#/components/schemas/CardBurnInfo"},"lockInfo":{"$ref":"#/components/schemas/CardLockInfo"},"seriesInfo":{"$ref":"#/components/schemas/CardSeriesInfo"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","cardType","cardName","rarity","rank","grade","cardId","minted","updatedAt"]},"StatScores":{"type":"object","properties":{"base":{"type":"number"},"training":{"type":"number"},"total":{"type":"number"},"class":{"type":"number"}}},"MokiGameStats":{"type":"object","properties":{"class":{"type":"string"},"stats":{"type":"object","properties":{"strength":{"$ref":"#/components/schemas/StatScores"},"speed":{"$ref":"#/components/schemas/StatScores"},"defense":{"$ref":"#/components/schemas/StatScores"},"dexterity":{"$ref":"#/components/schemas/StatScores"},"fortitude":{"$ref":"#/components/schemas/StatScores"}}}}},"MokiTraining":{"type":"object","properties":{"active":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"selectedStat":{"type":"string"},"intensity":{"type":"string"},"duration":{"type":"string"}},"required":["active"]},"MokiAttribute":{"type":"object","properties":{"trait_type":{"type":"string"},"value":{"type":"string"},"trait_subCategory":{"type":"string"},"display_type":{"type":"string"}},"required":["trait_type","value"]},"MokiLock":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}},"required":["timestamp"]},"Moki":{"type":"object","properties":{"id":{"type":"string"},"tokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"isChampion":{"type":"boolean"},"ownerAddress":{"type":"string"},"gameStats":{"$ref":"#/components/schemas/MokiGameStats"},"training":{"$ref":"#/components/schemas/MokiTraining"},"pastTrainingDurations":{"type":"array","items":{"type":"string"}},"revealed":{"type":"boolean"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/MokiAttribute"}},"locks":{"type":"array","items":{"$ref":"#/components/schemas/MokiLock"}},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","tokenId","name","isChampion","gameStats","revealed","updatedAt"]},"MokiListItem":{"type":"object","properties":{"id":{"type":"string"},"tokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"isChampion":{"type":"boolean"},"ownerAddress":{"type":"string"},"gameStats":{"$ref":"#/components/schemas/MokiGameStats"},"revealed":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","tokenId","name","isChampion","gameStats","revealed","updatedAt"]},"MatchPlayer":{"type":"object","properties":{"mokiId":{"type":"string"},"team":{"type":"number"},"name":{"type":"string"},"tokenId":{"type":"number"},"imageUrl":{"type":"string"},"class":{"type":"string"}},"required":["mokiId","team"]},"MatchPlayerResult":{"type":"object","properties":{"mokiId":{"type":"string"},"deposits":{"type":"number"},"eliminations":{"type":"number"},"wartDistance":{"type":"number"}},"required":["mokiId","deposits","eliminations","wartDistance"]},"MatchResult":{"type":"object","properties":{"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchPlayerResult"}},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"teamWon":{"type":"number"},"duration":{"type":"number","description":"Seconds"}},"required":["players","winType","teamWon","duration"]},"Match":{"type":"object","properties":{"id":{"type":"string"},"gameType":{"type":"string","enum":["mokiMayhem"]},"state":{"type":"string","enum":["scheduled","scored"]},"isBye":{"type":"boolean"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchPlayer"}},"result":{"$ref":"#/components/schemas/MatchResult"},"matchDate":{"type":"string","description":"Match date in ISO 8601 format (YYYY-MM-DD), derived from the match schedule"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","gameType","state","isBye","players","updatedAt"]},"CardDefSerialized":{"type":"object","properties":{"max":{"type":"number"},"printed":{"type":"number"},"treatAsRarity":{"type":"string"}}},"CardDefinition":{"type":"object","properties":{"id":{"type":"string"},"cardType":{"type":"string","enum":["champion","scheme","other"]},"cardName":{"type":"string"},"rank":{"type":"number"},"mokiId":{"type":"string","description":"For moki-type cards"},"tokenId":{"type":"number","description":"For moki-type cards"},"schemeId":{"type":"number","description":"For scheme-type cards"},"otherId":{"type":"number","description":"For other-type cards"},"serialized":{"$ref":"#/components/schemas/CardDefSerialized"},"seriesInfo":{"$ref":"#/components/schemas/CardSeriesInfo"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","cardType","cardName","rank","updatedAt"]},"TrainingStatValues":{"type":"object","properties":{"strength":{"type":"number"},"speed":{"type":"number"},"defense":{"type":"number"},"dexterity":{"type":"number"},"fortitude":{"type":"number"}}},"TrainingBoosts":{"type":"object","properties":{"energyBun":{"type":"number"},"powerYaki":{"type":"number"},"luckyMochi":{"type":"number"}}},"TrainingOutcome":{"type":"object","properties":{"outcome":{"type":"string","enum":["bad","standard","good","great","unknown"]},"statGains":{"$ref":"#/components/schemas/TrainingStatValues"},"description":{"type":"string"}},"required":["outcome"]},"Training":{"type":"object","properties":{"id":{"type":"string"},"mokiId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"selectedStat":{"type":"string","enum":["strength","speed","defense","dexterity","fortitude"]},"startingStats":{"$ref":"#/components/schemas/TrainingStatValues"},"endingStats":{"$ref":"#/components/schemas/TrainingStatValues"},"duration":{"type":"string"},"intensity":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"boostsApplied":{"$ref":"#/components/schemas/TrainingBoosts"},"outcome":{"$ref":"#/components/schemas/TrainingOutcome"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiId","startDate","endDate","selectedStat","startingStats","endingStats","duration","intensity","boostsApplied","outcome","updatedAt"]},"PerformanceResults":{"type":"object","properties":{"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"deposits":{"type":"number"},"eliminations":{"type":"number"},"wartDistance":{"type":"number"}}},"Performance":{"type":"object","properties":{"id":{"type":"string"},"matchId":{"type":"string"},"mokiId":{"type":"string"},"matchDate":{"type":"string","description":"Match date in ISO 8601 format (YYYY-MM-DD), derived from the match schedule"},"isBye":{"type":"boolean"},"results":{"$ref":"#/components/schemas/PerformanceResults"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","matchId","mokiId","isBye","updatedAt"]},"Leaderboard":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"gameTypes":{"type":"array","items":{"type":"string","enum":["mokiMayhem"]}},"completed":{"type":"boolean"},"scoringMethod":{"type":"string","enum":["preseason_v1","preseason_v2","preseason_v3"]},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","description","gameTypes","completed","startDate","endDate","updatedAt"]},"LeaderboardScore":{"type":"object","properties":{"id":{"type":"string"},"mokiId":{"type":"string"},"leaderboardId":{"type":"string"},"score":{"type":"number"},"perfCount":{"type":"number"},"class":{"type":"string"},"name":{"type":"string"},"tokenId":{"type":"number"},"imageUrl":{"type":"string"},"rank":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiId","leaderboardId","score","perfCount","rank","updatedAt"]},"ClassBreakdownEntry":{"type":"object","properties":{"class":{"type":"string"},"count":{"type":"number"},"percentage":{"type":"number"},"totalScore":{"type":"number"},"avgScore":{"type":"number"},"maxScore":{"type":"number"},"minScore":{"type":"number"},"avgMatchesPlayed":{"type":"number"}},"required":["class","count","percentage","totalScore","avgScore","maxScore","minScore","avgMatchesPlayed"]},"MatchScorePlayer":{"type":"object","properties":{"nftAiId":{"type":"string"},"team":{"type":"number"},"score":{"type":"number"},"kills":{"type":"number"},"ballsScored":{"type":"number"},"wortDistance":{"type":"number"},"won":{"type":"boolean"}},"required":["nftAiId","team","score","kills","ballsScored","wortDistance","won"]},"LeaderboardRankingEntry":{"type":"object","properties":{"nftAiId":{"type":"string"},"rank":{"type":"number"},"score":{"type":"number"},"tokenId":{"type":"number","nullable":true},"name":{"type":"string","nullable":true},"imageUrl":{"type":"string","nullable":true},"class":{"type":"string","nullable":true}},"required":["nftAiId","rank","score","tokenId","name","imageUrl","class"]},"MatchStatsMvp":{"type":"object","properties":{"tokenId":{"type":"number"},"name":{"type":"string"},"team":{"type":"number"},"points":{"type":"number"},"imageUrl":{"type":"string"},"class":{"type":"string"}},"required":["tokenId","name","team","points","imageUrl","class"]},"MatchStatsPlayer":{"type":"object","properties":{"tokenId":{"type":"number"},"name":{"type":"string"},"class":{"type":"string"},"imageUrl":{"type":"string"},"team":{"type":"number"},"points":{"type":"number"},"eliminations":{"type":"number"},"deposits":{"type":"number"},"wartDistance":{"type":"number"},"won":{"type":"boolean"}},"required":["tokenId","name","class","imageUrl","team","points","eliminations","deposits","wartDistance","won"]},"MatchStatsTeam":{"type":"object","properties":{"teamNumber":{"type":"number"},"color":{"type":"string"},"totalPoints":{"type":"number"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchStatsPlayer"}}},"required":["teamNumber","color","totalPoints","players"]}},"parameters":{}},"paths":{"/health":{"get":{"summary":"Health check with database status","tags":["System"],"responses":{"200":{"description":"Server is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"service":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"version":{"type":"string"},"checks":{"type":"object","properties":{"database":{"type":"object","properties":{"status":{"type":"string"}},"required":["status"]}},"required":["database"]}},"required":["status","service","timestamp","version","checks"]}}}},"503":{"description":"Server is unhealthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"service":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"version":{"type":"string"},"checks":{"type":"object","properties":{"database":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"}},"required":["status"]}},"required":["database"]}},"required":["status","service","timestamp","version","checks"]}}}}}}},"/api/v1/mokis":{"get":{"summary":"List mokis","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"ownerAddress","in":"query"},{"schema":{"type":"string"},"required":false,"name":"class","in":"query"},{"schema":{"type":"string","enum":["updatedAt","tokenId","name"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MokiListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/mokis/{tokenId}":{"get":{"summary":"Get moki by token ID","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"tokenId","in":"path"}],"responses":{"200":{"description":"Moki details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Moki"}},"required":["data"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/mokis/bulk":{"get":{"summary":"Get multiple mokis by token IDs","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated token IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Moki"}}},"required":["data"]}}}}}}},"/api/v1/mokis/{tokenId}/performances":{"get":{"summary":"Get moki performance history","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"tokenId","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"isBye","in":"query"}],"responses":{"200":{"description":"Paginated performance history for the moki","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Performance"},{"type":"object","properties":{"match":{"$ref":"#/components/schemas/Match"}}}]}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/mokis/{tokenId}/training-history":{"get":{"summary":"Get moki training history","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"tokenId","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["bad","standard","good","great"]},"required":false,"name":"outcome","in":"query"},{"schema":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"required":false,"name":"intensity","in":"query"},{"schema":{"type":"string","enum":["short","medium","long"]},"required":false,"name":"duration","in":"query"}],"responses":{"200":{"description":"Paginated training history for the moki","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards":{"get":{"summary":"List cards","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["basic","rare","epic","legendary"]},"required":false,"name":"rarity","in":"query"},{"schema":{"type":"string","enum":["champion","scheme","other"]},"required":false,"name":"cardType","in":"query"},{"schema":{"type":"string"},"required":false,"name":"ownerAddress","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"minted","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"burned","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"locked","in":"query"},{"schema":{"type":"string"},"required":false,"name":"cardDefId","in":"query"},{"schema":{"type":"string","enum":["updatedAt","cardName","rarity","grade","season","cardId"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"401":{"description":"Unauthorized - API key required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards/{id}":{"get":{"summary":"Get card by ID","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Card details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Card"}},"required":["data"]}}}},"404":{"description":"Card not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards/bulk":{"get":{"summary":"Get multiple cards by IDs","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}}},"required":["data"]}}}}}}},"/api/v1/card-defs":{"get":{"summary":"List card definitions","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["champion","scheme","other"]},"required":false,"name":"cardType","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"rank","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string","description":"Case-insensitive partial match"},"required":false,"name":"cardName","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"tokenId","in":"query"},{"schema":{"type":"string","enum":["updatedAt","cardName","season","rank"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of card definitions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CardDefinition"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/card-defs/{id}":{"get":{"summary":"Get card definition by ID","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Card definition details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CardDefinition"}},"required":["data"]}}}},"404":{"description":"Card definition not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/card-defs/bulk":{"get":{"summary":"Get multiple card definitions by IDs","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of card definitions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CardDefinition"}}},"required":["data"]}}}}}}},"/api/v1/matches":{"get":{"summary":"List matches","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"string","description":"Filter by match date (YYYY-MM-DD format)"},"required":false,"name":"matchDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt","state"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of matches","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Match"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/matches/{id}":{"get":{"summary":"Get match by ID","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Match details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Match"}},"required":["data"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/matches/bulk":{"get":{"summary":"Get multiple matches by IDs","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of matches","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}},"required":["data"]}}}}}}},"/api/v1/matches/{id}/performances":{"get":{"summary":"Get match performances","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated match performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"state":{"type":"string","enum":["scheduled","scored"]},"gameType":{"type":"string","enum":["mokiMayhem"]},"performances":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"matchId":{"type":"string"},"mokiId":{"type":"string"},"matchDate":{"type":"string"},"isBye":{"type":"boolean"},"results":{"$ref":"#/components/schemas/PerformanceResults"},"updatedAt":{"type":"string","format":"date-time"},"tokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"class":{"type":"string"}},"required":["id","matchId","mokiId","isBye","updatedAt"]}}},"required":["matchId","state","gameType","performances"]},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/matches/{id}/stats":{"get":{"summary":"Get match statistics","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Match statistics. Returns precomputed stats when available, a message when the match is not yet scored, or basic result data on cache miss.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"state":{"type":"string","enum":["scheduled","scored"]},"computedAt":{"type":"string","format":"date-time"},"scoringVersion":{"type":"string","enum":["v1","v2","v3"]},"teamWon":{"type":"number"},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"mvp":{"$ref":"#/components/schemas/MatchStatsMvp"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/MatchStatsTeam"}},"message":{"type":"string"}},"required":["matchId"]}},"required":["data"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/trainings":{"get":{"summary":"List trainings","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"required":false,"name":"intensity","in":"query"},{"schema":{"type":"string","enum":["strength","speed","defense","dexterity","fortitude"]},"required":false,"name":"selectedStat","in":"query"},{"schema":{"type":"string","enum":["bad","standard","good","great"]},"required":false,"name":"outcome","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"cancelled","in":"query"},{"schema":{"type":"string","description":"Filters by training endDate"},"required":false,"name":"fromDate","in":"query"},{"schema":{"type":"string","description":"Filters by training endDate"},"required":false,"name":"toDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt","startDate","endDate","selectedStat","intensity"],"default":"endDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of trainings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/trainings/{id}":{"get":{"summary":"Get training by ID","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Training details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Training"}},"required":["data"]}}}},"404":{"description":"Training not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/trainings/bulk":{"get":{"summary":"Get multiple trainings by IDs","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of trainings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}}},"required":["data"]}}}}}}},"/api/v1/performances":{"get":{"summary":"List performances","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string"},"required":false,"name":"matchId","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"isBye","in":"query"},{"schema":{"type":"string","enum":["gacha","eliminations","wart"]},"required":false,"name":"winType","in":"query"},{"schema":{"type":"string","description":"Filter by match date (YYYY-MM-DD format)"},"required":false,"name":"matchDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Performance"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/performances/{id}":{"get":{"summary":"Get performance by ID","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Performance details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Performance"}},"required":["data"]}}}},"404":{"description":"Performance not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/performances/bulk":{"get":{"summary":"Get multiple performances by IDs","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Performance"}}},"required":["data"]}}}}}}},"/api/v1/users/{address}/summary":{"get":{"summary":"Get user holdings summary","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"}],"responses":{"200":{"description":"User's holdings summary","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"holdings":{"type":"object","properties":{"mokis":{"type":"number"},"cards":{"type":"number"}},"required":["mokis","cards"]}},"required":["id","address","holdings"]}},"required":["data"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/users/{address}/mokis":{"get":{"summary":"Get user mokis","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"User's mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Moki"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/users/{address}/cards":{"get":{"summary":"Get user cards","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"User's cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/leaderboards":{"get":{"summary":"List leaderboards","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"boolean","nullable":true},"required":false,"name":"completed","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"string"},"required":false,"name":"fromDate","in":"query"},{"schema":{"type":"string"},"required":false,"name":"toDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt","startDate","endDate","name"],"default":"startDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of leaderboards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/leaderboards/{id}":{"get":{"summary":"Get leaderboard by ID","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Leaderboard details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Leaderboard"}},"required":["data"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/leaderboards/bulk":{"get":{"summary":"Get multiple leaderboards by IDs","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of leaderboards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}}},"required":["data"]}}}}}}},"/api/v1/leaderboards/active":{"get":{"summary":"Get active leaderboards","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Active leaderboards (max 100)","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}}},"required":["data"]}}}}}}},"/api/v1/leaderboards/{id}/scores":{"get":{"summary":"Get leaderboard scores","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"minScore","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"maxScore","in":"query"},{"schema":{"type":"string","enum":["score","perfCount"],"default":"score"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated leaderboard scores","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardScore"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/leaderboards/{id}/class-breakdown":{"get":{"summary":"Get leaderboard class breakdown","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Class breakdown statistics","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"leaderboardId":{"type":"string"},"leaderboardName":{"type":"string"},"totalParticipants":{"type":"number"},"classes":{"type":"array","items":{"$ref":"#/components/schemas/ClassBreakdownEntry"}}},"required":["leaderboardId","leaderboardName","totalParticipants","classes"]}},"required":["data"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{leaderboardId}/matches/{matchId}":{"get":{"summary":"Get match scores for a leaderboard","description":"Get calculated scores for a match in the context of a specific leaderboard. Returns 404 if scores are not cached.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"leaderboardId","in":"path"},{"schema":{"type":"string"},"required":true,"name":"matchId","in":"path"}],"responses":{"200":{"description":"Match scores","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"leaderboardId":{"type":"string"},"scoringMethod":{"type":"string"},"teamWon":{"type":"number"},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"mvpId":{"type":"string"},"calculatedAt":{"type":"string","format":"date-time"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchScorePlayer"}}},"required":["matchId","leaderboardId","scoringMethod","teamWon","winType","calculatedAt","players"]}},"required":["data"]}}}},"404":{"description":"Match scores not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{id}/rankings":{"get":{"summary":"Get leaderboard rankings","description":"Get paginated leaderboard rankings from Redis cache. Returns 404 if leaderboard is not cached.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated leaderboard rankings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardRankingEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"},"leaderboardId":{"type":"string"},"leaderboardName":{"type":"string","nullable":true},"scoringMethod":{"type":"string","nullable":true},"updatedAt":{"type":"string","nullable":true,"format":"date-time"}},"required":["data","pagination","leaderboardId","leaderboardName","scoringMethod","updatedAt"]}}}},"404":{"description":"Leaderboard rankings not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{leaderboardId}/mokis/{nftAiId}/rank":{"get":{"summary":"Get moki rank in leaderboard","description":"Get a specific Moki's rank and score in a leaderboard. Returns 404 if not found in cache.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"leaderboardId","in":"path"},{"schema":{"type":"string"},"required":true,"name":"nftAiId","in":"path"}],"responses":{"200":{"description":"Moki rank data","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"nftAiId":{"type":"string"},"leaderboardId":{"type":"string"},"rank":{"type":"number"},"score":{"type":"number"},"tokenId":{"type":"number","nullable":true},"name":{"type":"string","nullable":true},"imageUrl":{"type":"string","nullable":true},"class":{"type":"string","nullable":true}},"required":["nftAiId","leaderboardId","rank","score","tokenId","name","imageUrl","class"]}},"required":["data"]}}}},"404":{"description":"Moki rank not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{id}/meta":{"get":{"summary":"Get leaderboard metadata","description":"Get leaderboard metadata from Redis cache. Returns 404 if not in cache.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Leaderboard metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"leaderboardId":{"type":"string"},"name":{"type":"string"},"scoringMethod":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"}},"required":["leaderboardId","name","scoringMethod","updatedAt"]}},"required":["data"]}}}},"404":{"description":"Leaderboard metadata not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}}}