{"openapi":"3.0.0","info":{"title":"Grand Arena API","version":"2.0.0","description":"Read-only access to Grand Arena game data.\n\n**Auth:** Pass API key via `x-api-key` header or `Authorization: Bearer` token.\n\n**Rate limits:** Free (100/min), Basic (1000/min), Pro (5000/min). See response headers for usage.\n\n**Get a key:** Visit https://developers.grandarena.gg to request API access.\n\n**[Changelog](/docs/changelog)** — see what changed in each release.","contact":{"name":"Grand Arena Support","email":"support@moku.gg"}},"servers":[{"url":"https://api.grandarena.gg","description":"Production"}],"tags":[{"name":"System","description":"Health checks"},{"name":"Mokis","description":"NFT characters"},{"name":"Cards","description":"Collectible cards"},{"name":"Card Definitions","description":"Card templates"},{"name":"Matches","description":"Match results"},{"name":"Trainings","description":"Training sessions"},{"name":"Performances","description":"Match performances"},{"name":"Users","description":"Holdings by wallet"},{"name":"Leaderboards","description":"Rankings and scores"},{"name":"Contests","description":"Fantasy contests and entries"},{"name":"Scores","description":"Cached leaderboard score data"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key for authentication. Can also be passed as Bearer token in Authorization header."}},"schemas":{"Pagination":{"type":"object","properties":{"page":{"type":"number"},"limit":{"type":"number"},"total":{"type":"number"},"pages":{"type":"number"}},"required":["page","limit","total","pages"]},"ErrorDetail":{"type":"object","properties":{"path":{"type":"string"},"message":{"type":"string"}},"required":["path","message"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"},"description":"Validation error details (only present for input validation errors)"}},"required":["error","message"]},"CardBurnInfo":{"type":"object","properties":{"burnedAt":{"type":"string","format":"date-time"},"txHash":{"type":"string"},"blockNumber":{"type":"number"},"reason":{"type":"string"}}},"CardLockInfo":{"type":"object","properties":{"lockedAt":{"type":"string","format":"date-time"},"lockedFor":{"type":"string","enum":["crafting","trading","staking","other"]},"reason":{"type":"string"},"expiresAt":{"type":"string","format":"date-time"}}},"CardSeriesInfo":{"type":"object","properties":{"category":{"type":"string"},"series":{"type":"string"},"item":{"type":"string"}}},"Card":{"type":"object","properties":{"id":{"type":"string"},"cardType":{"type":"string","enum":["champion","scheme","other"]},"cardName":{"type":"string"},"rarity":{"type":"string","enum":["basic","rare","epic","legendary"]},"rank":{"type":"number"},"grade":{"type":"number"},"mokiTokenId":{"type":"number"},"cardTokenId":{"type":"number"},"minted":{"type":"boolean"},"mokiId":{"type":"string","description":"For moki-type cards"},"ownerAddress":{"type":"string"},"imageUrl":{"type":"string"},"serialized":{"type":"object","properties":{"id":{"type":"number"},"max":{"type":"number"}},"required":["id","max"]},"burned":{"type":"boolean"},"locked":{"type":"boolean"},"burnInfo":{"$ref":"#/components/schemas/CardBurnInfo"},"lockInfo":{"$ref":"#/components/schemas/CardLockInfo"},"seriesInfo":{"$ref":"#/components/schemas/CardSeriesInfo"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","cardType","cardName","rarity","rank","grade","cardTokenId","minted","updatedAt"]},"StatScores":{"type":"object","properties":{"base":{"type":"number"},"training":{"type":"number"},"total":{"type":"number"},"class":{"type":"number"}}},"MokiGameStats":{"type":"object","properties":{"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]},"stats":{"type":"object","properties":{"strength":{"$ref":"#/components/schemas/StatScores"},"speed":{"$ref":"#/components/schemas/StatScores"},"defense":{"$ref":"#/components/schemas/StatScores"},"dexterity":{"$ref":"#/components/schemas/StatScores"},"fortitude":{"$ref":"#/components/schemas/StatScores"}}}}},"MokiTraining":{"type":"object","properties":{"active":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"selectedStat":{"type":"string"},"intensity":{"type":"string"},"duration":{"type":"string"}},"required":["active"]},"MokiAttribute":{"type":"object","properties":{"trait_type":{"type":"string"},"value":{"type":"string"},"trait_subCategory":{"type":"string"},"display_type":{"type":"string"}},"required":["trait_type","value"]},"MokiLock":{"type":"object","properties":{"timestamp":{"type":"string","format":"date-time"}},"required":["timestamp"]},"Moki":{"type":"object","properties":{"id":{"type":"string"},"mokiTokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"isChampion":{"type":"boolean"},"ownerAddress":{"type":"string"},"gameStats":{"$ref":"#/components/schemas/MokiGameStats"},"training":{"$ref":"#/components/schemas/MokiTraining"},"pastTrainingDurations":{"type":"array","items":{"type":"string"}},"revealed":{"type":"boolean"},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/MokiAttribute"}},"locks":{"type":"array","items":{"$ref":"#/components/schemas/MokiLock"}},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiTokenId","name","isChampion","gameStats","revealed","updatedAt"]},"MokiListItem":{"type":"object","properties":{"id":{"type":"string"},"mokiTokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"isChampion":{"type":"boolean"},"ownerAddress":{"type":"string"},"gameStats":{"$ref":"#/components/schemas/MokiGameStats"},"revealed":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiTokenId","name","isChampion","gameStats","revealed","updatedAt"]},"MatchPlayer":{"type":"object","properties":{"mokiId":{"type":"string"},"team":{"type":"number"},"name":{"type":"string"},"mokiTokenId":{"type":"number"},"imageUrl":{"type":"string"},"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]}},"required":["mokiId","team"]},"MatchPlayerResult":{"type":"object","properties":{"mokiId":{"type":"string"},"deposits":{"type":"number"},"eliminations":{"type":"number"},"wartDistance":{"type":"number"},"deaths":{"type":"number"},"endedGame":{"type":"boolean"},"eatingWhileRiding":{"type":"number"},"buffTimeSeconds":{"type":"number"},"wartRideTimeSeconds":{"type":"number"},"looseBallPickups":{"type":"number"},"eatenByWart":{"type":"number"},"wartCloser":{"type":"boolean"}},"required":["mokiId","deposits","eliminations","wartDistance"]},"MatchResult":{"type":"object","properties":{"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchPlayerResult"}},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"teamWon":{"type":"number"},"duration":{"type":"number","description":"Seconds"},"gameEndedBy":{"type":"string","description":"Name of player who ended the game"}},"required":["players","winType","teamWon","duration"]},"Match":{"type":"object","properties":{"id":{"type":"string"},"gameType":{"type":"string","enum":["mokiMayhem"]},"state":{"type":"string","enum":["scheduled","scored"]},"isBye":{"type":"boolean"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchPlayer"}},"result":{"$ref":"#/components/schemas/MatchResult"},"matchDate":{"type":"string","description":"Match date in ISO 8601 format (YYYY-MM-DD), derived from the match schedule"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","gameType","state","isBye","players","updatedAt"]},"CardDefSerialized":{"type":"object","properties":{"max":{"type":"number"},"printed":{"type":"number"},"treatAsRarity":{"type":"string"}}},"CardDefinition":{"type":"object","properties":{"id":{"type":"string"},"cardType":{"type":"string","enum":["champion","scheme","other"]},"cardName":{"type":"string"},"rank":{"type":"number"},"mokiId":{"type":"string","description":"For moki-type cards"},"mokiTokenId":{"type":"number","description":"For moki-type cards"},"schemeId":{"type":"number","description":"For scheme-type cards"},"otherId":{"type":"number","description":"For other-type cards"},"serialized":{"$ref":"#/components/schemas/CardDefSerialized"},"seriesInfo":{"$ref":"#/components/schemas/CardSeriesInfo"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","cardType","cardName","rank","updatedAt"]},"TrainingStatValues":{"type":"object","properties":{"strength":{"type":"number"},"speed":{"type":"number"},"defense":{"type":"number"},"dexterity":{"type":"number"},"fortitude":{"type":"number"}}},"TrainingBoosts":{"type":"object","properties":{"energyBun":{"type":"number"},"powerYaki":{"type":"number"},"luckyMochi":{"type":"number"}}},"TrainingOutcome":{"type":"object","properties":{"outcome":{"type":"string","enum":["bad","standard","good","great","unknown"]},"statGains":{"$ref":"#/components/schemas/TrainingStatValues"},"description":{"type":"string"}},"required":["outcome"]},"Training":{"type":"object","properties":{"id":{"type":"string"},"mokiId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"selectedStat":{"type":"string","enum":["strength","speed","defense","dexterity","fortitude"]},"startingStats":{"$ref":"#/components/schemas/TrainingStatValues"},"endingStats":{"$ref":"#/components/schemas/TrainingStatValues"},"duration":{"type":"string"},"intensity":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"boostsApplied":{"$ref":"#/components/schemas/TrainingBoosts"},"outcome":{"$ref":"#/components/schemas/TrainingOutcome"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiId","startDate","endDate","selectedStat","startingStats","endingStats","duration","intensity","boostsApplied","outcome","updatedAt"]},"PerformanceResults":{"type":"object","properties":{"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"deposits":{"type":"number"},"eliminations":{"type":"number"},"wartDistance":{"type":"number"},"won":{"type":"boolean"},"endedGame":{"type":"boolean"},"deaths":{"type":"number"},"eatingWhileRiding":{"type":"number"},"buffTimeSeconds":{"type":"number"},"wartRideTimeSeconds":{"type":"number"},"looseBallPickups":{"type":"number"},"eatenByWart":{"type":"number"},"wartCloser":{"type":"boolean"}}},"Performance":{"type":"object","properties":{"id":{"type":"string"},"matchId":{"type":"string"},"mokiId":{"type":"string"},"matchDate":{"type":"string","description":"Match date in ISO 8601 format (YYYY-MM-DD), derived from the match schedule"},"isBye":{"type":"boolean"},"results":{"$ref":"#/components/schemas/PerformanceResults"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","matchId","mokiId","isBye","updatedAt"]},"Leaderboard":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"gameTypes":{"type":"array","items":{"type":"string","enum":["mokiMayhem"]}},"completed":{"type":"boolean"},"scoringMethod":{"type":"string","enum":["preseason_v1","preseason_v2","preseason_v3","s1_v4"]},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","description","gameTypes","completed","startDate","endDate","updatedAt"]},"LeaderboardScore":{"type":"object","properties":{"id":{"type":"string"},"mokiId":{"type":"string"},"leaderboardId":{"type":"string"},"score":{"type":"number"},"perfCount":{"type":"number"},"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]},"name":{"type":"string"},"mokiTokenId":{"type":"number"},"imageUrl":{"type":"string"},"rank":{"type":"number"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","mokiId","leaderboardId","score","perfCount","rank","updatedAt"]},"ClassBreakdownEntry":{"type":"object","properties":{"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]},"count":{"type":"number"},"percentage":{"type":"number"},"totalScore":{"type":"number"},"avgScore":{"type":"number"},"maxScore":{"type":"number"},"minScore":{"type":"number"},"avgMatchesPlayed":{"type":"number"}},"required":["class","count","percentage","totalScore","avgScore","maxScore","minScore","avgMatchesPlayed"]},"MatchScorePlayer":{"type":"object","properties":{"mokiId":{"type":"string"},"team":{"type":"number"},"score":{"type":"number"},"eliminations":{"type":"number"},"deposits":{"type":"number"},"wartDistance":{"type":"number"},"won":{"type":"boolean"}},"required":["mokiId","team","score","eliminations","deposits","wartDistance","won"]},"LeaderboardRankingEntry":{"type":"object","properties":{"mokiId":{"type":"string"},"rank":{"type":"number"},"score":{"type":"number"},"mokiTokenId":{"type":"number","nullable":true},"name":{"type":"string","nullable":true},"imageUrl":{"type":"string","nullable":true},"class":{"type":"string","nullable":true,"enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]}},"required":["mokiId","rank","score","mokiTokenId","name","imageUrl","class"]},"EntryPrice":{"type":"object","properties":{"currency":{"type":"string"},"amount":{"type":"number"}},"required":["currency","amount"]},"LineupSlot":{"type":"object","properties":{"cardType":{"type":"string"},"minRarity":{"type":"string"},"maxRarity":{"type":"string"}},"required":["cardType"]},"LineupConfig":{"type":"object","properties":{"slots":{"type":"array","items":{"$ref":"#/components/schemas/LineupSlot"}},"totalRankCap":{"type":"number"}},"required":["slots"]},"PrizeSplitConfig":{"type":"object","properties":{"defaultSplit":{"type":"string"},"overrides":{"type":"array","items":{"type":"object","properties":{"prizeType":{"type":"string"},"split":{"type":"string"}},"required":["prizeType","split"]}}},"required":["defaultSplit"]},"Contest":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"gameTypes":{"type":"array","items":{"type":"string"}},"openDate":{"type":"string","format":"date-time"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"completed":{"type":"boolean"},"cancelled":{"type":"boolean"},"featured":{"type":"boolean"},"entries":{"type":"number"},"minEntries":{"type":"number"},"maxEntries":{"type":"number"},"maxEntriesPerUser":{"type":"number"},"entryPrice":{"$ref":"#/components/schemas/EntryPrice"},"lineupConfig":{"$ref":"#/components/schemas/LineupConfig"},"prizeSplitConfig":{"$ref":"#/components/schemas/PrizeSplitConfig"},"guaranteedPrizePool":{"type":"number"},"scoringMethod":{"type":"string"}},"required":["id","name","description","gameTypes","openDate","startDate","endDate","completed","cancelled","featured","entries","entryPrice","lineupConfig","prizeSplitConfig"]},"ContestListItem":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"gameTypes":{"type":"array","items":{"type":"string"}},"openDate":{"type":"string","format":"date-time"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"completed":{"type":"boolean"},"cancelled":{"type":"boolean"},"featured":{"type":"boolean"},"entries":{"type":"number"},"entryPrice":{"$ref":"#/components/schemas/EntryPrice"},"scoringMethod":{"type":"string"}},"required":["id","name","gameTypes","openDate","startDate","endDate","completed","cancelled","featured","entries","entryPrice"]},"ContestPayout":{"type":"object","properties":{"address":{"type":"string","description":"Wallet address of the payout recipient"},"currency":{"type":"string"},"amount":{"type":"number"},"description":{"type":"string"}},"required":["address","currency","amount","description"]},"ScoringRule":{"type":"object","properties":{"ruleId":{"type":"string"},"name":{"type":"string"},"source":{"type":"string","enum":["scheme","contest"]},"schemeId":{"type":"number","description":"Scheme card ID (only for scheme-sourced rules)"}},"required":["ruleId","name","source"]},"EntryFee":{"type":"object","properties":{"currency":{"type":"string"},"amount":{"type":"number"}},"required":["currency","amount"],"description":"Entry fee paid for this lineup"},"LineupEntry":{"type":"object","properties":{"id":{"type":"string"},"contestId":{"type":"string"},"ownerAddress":{"type":"string","description":"Wallet address of the entry owner"},"rank":{"type":"number"},"name":{"type":"string"},"score":{"type":"number"},"perfCount":{"type":"number"},"gameTypes":{"type":"array","items":{"type":"string"}},"cardIds":{"type":"array","items":{"type":"string"},"description":"Card IDs in this lineup"},"mokiIds":{"type":"array","items":{"type":"string"},"description":"Moki IDs in this lineup"},"scoringRules":{"type":"array","items":{"$ref":"#/components/schemas/ScoringRule"},"description":"Scoring rules from scheme cards and contest"},"scoreDetail":{"type":"object","additionalProperties":{"nullable":true},"description":"Per-moki score breakdowns and rule deltas"},"entryFee":{"$ref":"#/components/schemas/EntryFee"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","contestId","score","perfCount","gameTypes","cardIds","mokiIds","updatedAt"]},"MokiStats":{"type":"object","properties":{"mokiId":{"type":"string"},"mokiTokenId":{"type":"number"},"matchCount":{"type":"number"},"wins":{"type":"number"},"losses":{"type":"number"},"winRate":{"type":"number","description":"Win rate as decimal (0.0 to 1.0)"},"avgDeposits":{"type":"number"},"avgEliminations":{"type":"number"},"avgWartDistance":{"type":"number"},"winsByType":{"type":"object","properties":{"gacha":{"type":"number"},"eliminations":{"type":"number"},"wart":{"type":"number"}},"required":["gacha","eliminations","wart"]}},"required":["mokiId","mokiTokenId","matchCount","wins","losses","winRate","avgDeposits","avgEliminations","avgWartDistance","winsByType"]},"MatchStatsMvp":{"type":"object","properties":{"mokiTokenId":{"type":"number"},"name":{"type":"string"},"team":{"type":"number"},"points":{"type":"number"},"imageUrl":{"type":"string"},"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]}},"required":["mokiTokenId","name","team","points","imageUrl","class"]},"MatchStatsPlayer":{"type":"object","properties":{"mokiTokenId":{"type":"number"},"name":{"type":"string"},"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]},"imageUrl":{"type":"string"},"team":{"type":"number"},"points":{"type":"number"},"eliminations":{"type":"number"},"deposits":{"type":"number"},"wartDistance":{"type":"number"},"won":{"type":"boolean"}},"required":["mokiTokenId","name","class","imageUrl","team","points","eliminations","deposits","wartDistance","won"]},"MatchStatsTeam":{"type":"object","properties":{"teamNumber":{"type":"number"},"color":{"type":"string"},"totalPoints":{"type":"number"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchStatsPlayer"}}},"required":["teamNumber","color","totalPoints","players"]}},"parameters":{}},"paths":{"/health":{"get":{"summary":"Health check with database status","tags":["System"],"responses":{"200":{"description":"Server is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"service":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"version":{"type":"string"},"checks":{"type":"object","properties":{"database":{"type":"object","properties":{"status":{"type":"string"}},"required":["status"]}},"required":["database"]}},"required":["status","service","timestamp","version","checks"]}}}},"503":{"description":"Server is unhealthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string"},"service":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"version":{"type":"string"},"checks":{"type":"object","properties":{"database":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"}},"required":["status"]}},"required":["database"]}},"required":["status","service","timestamp","version","checks"]}}}}}}},"/api/v1/mokis":{"get":{"summary":"List mokis","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"ownerAddress","in":"query"},{"schema":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]},"required":false,"name":"class","in":"query"},{"schema":{"type":"string","enum":["updatedAt","mokiTokenId","name"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MokiListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/mokis/{mokiTokenId}":{"get":{"summary":"Get moki by token ID","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"mokiTokenId","in":"path"}],"responses":{"200":{"description":"Moki details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Moki"}},"required":["data"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/mokis/bulk":{"get":{"summary":"Get multiple mokis by token IDs","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated token IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Moki"}}},"required":["data"]}}}}}}},"/api/v1/mokis/{mokiTokenId}/performances":{"get":{"summary":"Get moki performance history","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"mokiTokenId","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"isBye","in":"query"}],"responses":{"200":{"description":"Paginated performance history for the moki","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Performance"},{"type":"object","properties":{"match":{"$ref":"#/components/schemas/Match"}}}]}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/mokis/{mokiTokenId}/training-history":{"get":{"summary":"Get moki training history","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"mokiTokenId","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["bad","standard","good","great"]},"required":false,"name":"outcome","in":"query"},{"schema":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"required":false,"name":"intensity","in":"query"},{"schema":{"type":"string","enum":["short","medium","long"]},"required":false,"name":"duration","in":"query"}],"responses":{"200":{"description":"Paginated training history for the moki","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/mokis/{mokiTokenId}/stats":{"get":{"summary":"Get moki aggregate stats","description":"Returns win rate, average deposits/eliminations/wart distance, and win type breakdown across all non-bye matches.","tags":["Mokis"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"mokiTokenId","in":"path"}],"responses":{"200":{"description":"Moki aggregate performance stats","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/MokiStats"}},"required":["data"]}}}},"404":{"description":"Moki not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/contests/{id}/matches":{"get":{"summary":"List matches in a contest","description":"Returns matches linked to this contest via shared matchGroups and date range. Use state filter to get only scored or scheduled matches.","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["scheduled","scored"]},"required":false,"name":"state","in":"query"},{"schema":{"type":"string"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"]},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of matches in the contest","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Match"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Contest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards":{"get":{"summary":"List cards","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["basic","rare","epic","legendary"]},"required":false,"name":"rarity","in":"query"},{"schema":{"type":"string","enum":["champion","scheme","other"]},"required":false,"name":"cardType","in":"query"},{"schema":{"type":"string","description":"Filter by wallet address. Finds cards owned via direct address or linked account."},"required":false,"name":"ownerAddress","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"minted","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"burned","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"locked","in":"query"},{"schema":{"type":"string"},"required":false,"name":"cardDefId","in":"query"},{"schema":{"type":"string","enum":["updatedAt","cardName","rarity","grade","season","cardTokenId"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"401":{"description":"Unauthorized - API key required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards/{id}":{"get":{"summary":"Get card by ID","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Card details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Card"}},"required":["data"]}}}},"404":{"description":"Card not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/cards/bulk":{"get":{"summary":"Get multiple cards by IDs","tags":["Cards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}}},"required":["data"]}}}}}}},"/api/v1/card-defs":{"get":{"summary":"List card definitions","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["champion","scheme","other"]},"required":false,"name":"cardType","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"rank","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string","description":"Case-insensitive partial match"},"required":false,"name":"cardName","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"mokiTokenId","in":"query"},{"schema":{"type":"string","enum":["updatedAt","cardName","season","rank"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of card definitions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CardDefinition"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/card-defs/{id}":{"get":{"summary":"Get card definition by ID","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Card definition details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CardDefinition"}},"required":["data"]}}}},"404":{"description":"Card definition not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/card-defs/bulk":{"get":{"summary":"Get multiple card definitions by IDs","tags":["Card Definitions"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of card definitions","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CardDefinition"}}},"required":["data"]}}}}}}},"/api/v1/matches":{"get":{"summary":"List matches","description":"Requires at least one narrowing filter: `matchDate` or `mokiId`. Returns 400 if only broad filters like `state` or `gameType` are provided.","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"string","enum":["scheduled","scored"],"description":"Filter by match state"},"required":false,"name":"state","in":"query"},{"schema":{"type":"string","description":"Filter by moki ID (matches containing this moki)"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string","description":"Filter by match date (YYYY-MM-DD format)"},"required":false,"name":"matchDate","in":"query"},{"schema":{"type":"string","enum":["matchDate","state"],"default":"matchDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of matches","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Match"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/matches/{id}":{"get":{"summary":"Get match by ID","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Match details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Match"}},"required":["data"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/matches/bulk":{"get":{"summary":"Get multiple matches by IDs","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of matches","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Match"}}},"required":["data"]}}}}}}},"/api/v1/matches/{id}/performances":{"get":{"summary":"Get match performances","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated match performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"state":{"type":"string","enum":["scheduled","scored"]},"gameType":{"type":"string","enum":["mokiMayhem"]},"performances":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"matchId":{"type":"string"},"mokiId":{"type":"string"},"matchDate":{"type":"string"},"isBye":{"type":"boolean"},"results":{"$ref":"#/components/schemas/PerformanceResults"},"updatedAt":{"type":"string","format":"date-time"},"mokiTokenId":{"type":"number"},"name":{"type":"string"},"imageUrl":{"type":"string"},"class":{"type":"string","enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]}},"required":["id","matchId","mokiId","isBye","updatedAt"]}}},"required":["matchId","state","gameType","performances"]},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/matches/{id}/stats":{"get":{"summary":"Get match statistics","tags":["Matches"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Match statistics. Returns precomputed stats when available, a message when the match is not yet scored, or basic result data on cache miss.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"state":{"type":"string","enum":["scheduled","scored"]},"computedAt":{"type":"string","format":"date-time"},"scoringVersion":{"type":"string","enum":["v1","v2","v3"]},"teamWon":{"type":"number"},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"mvp":{"$ref":"#/components/schemas/MatchStatsMvp"},"teams":{"type":"array","items":{"$ref":"#/components/schemas/MatchStatsTeam"}},"message":{"type":"string"}},"required":["matchId"]}},"required":["data"]}}}},"404":{"description":"Match not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/trainings":{"get":{"summary":"List trainings","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string","enum":["light","standard","heavy","lockedIn"]},"required":false,"name":"intensity","in":"query"},{"schema":{"type":"string","enum":["strength","speed","defense","dexterity","fortitude"]},"required":false,"name":"selectedStat","in":"query"},{"schema":{"type":"string","enum":["bad","standard","good","great"]},"required":false,"name":"outcome","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"cancelled","in":"query"},{"schema":{"type":"string","description":"Filters by training endDate"},"required":false,"name":"fromDate","in":"query"},{"schema":{"type":"string","description":"Filters by training endDate"},"required":false,"name":"toDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt","startDate","endDate","selectedStat","intensity"],"default":"endDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of trainings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/trainings/{id}":{"get":{"summary":"Get training by ID","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Training details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Training"}},"required":["data"]}}}},"404":{"description":"Training not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/trainings/bulk":{"get":{"summary":"Get multiple trainings by IDs","tags":["Trainings"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of trainings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Training"}}},"required":["data"]}}}}}}},"/api/v1/performances":{"get":{"summary":"List performances","description":"Requires at least one narrowing filter: `matchDate`, `mokiId`, or `matchId`. Returns 400 if missing.","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mokiId","in":"query"},{"schema":{"type":"string"},"required":false,"name":"matchId","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"isBye","in":"query"},{"schema":{"type":"string","enum":["gacha","eliminations","wart"]},"required":false,"name":"winType","in":"query"},{"schema":{"type":"string","description":"Filter by match date (YYYY-MM-DD format)"},"required":false,"name":"matchDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt"],"default":"updatedAt"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Performance"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/performances/{id}":{"get":{"summary":"Get performance by ID","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Performance details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Performance"}},"required":["data"]}}}},"404":{"description":"Performance not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/performances/bulk":{"get":{"summary":"Get multiple performances by IDs","tags":["Performances"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of performances","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Performance"}}},"required":["data"]}}}}}}},"/api/v1/users/{address}/summary":{"get":{"summary":"Get user holdings summary","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"}],"responses":{"200":{"description":"User's holdings summary","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"},"holdings":{"type":"object","properties":{"mokis":{"type":"number"},"cards":{"type":"number"}},"required":["mokis","cards"]}},"required":["id","address","holdings"]}},"required":["data"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/users/{address}/mokis":{"get":{"summary":"Get user mokis","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"User's mokis","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Moki"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/users/{address}/cards":{"get":{"summary":"Get user cards","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"address","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"User's cards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Card"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/leaderboards":{"get":{"summary":"List leaderboards","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"completed","in":"query"},{"schema":{"type":"string","enum":["mokiMayhem"]},"required":false,"name":"gameType","in":"query"},{"schema":{"type":"string"},"required":false,"name":"fromDate","in":"query"},{"schema":{"type":"string"},"required":false,"name":"toDate","in":"query"},{"schema":{"type":"string","enum":["updatedAt","startDate","endDate","name"],"default":"startDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of leaderboards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/leaderboards/{id}":{"get":{"summary":"Get leaderboard by ID","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Leaderboard details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Leaderboard"}},"required":["data"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/leaderboards/bulk":{"get":{"summary":"Get multiple leaderboards by IDs","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"Array of leaderboards","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}}},"required":["data"]}}}}}}},"/api/v1/leaderboards/active":{"get":{"summary":"Get active leaderboards","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Active leaderboards (max 100)","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Leaderboard"}}},"required":["data"]}}}}}}},"/api/v1/leaderboards/{id}/scores":{"get":{"summary":"Get leaderboard scores","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"minScore","in":"query"},{"schema":{"type":"number","nullable":true},"required":false,"name":"maxScore","in":"query"},{"schema":{"type":"string","enum":["score","perfCount"],"default":"score"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated leaderboard scores","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardScore"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/leaderboards/{id}/class-breakdown":{"get":{"summary":"Get leaderboard class breakdown","tags":["Leaderboards"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Class breakdown statistics","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"leaderboardId":{"type":"string"},"leaderboardName":{"type":"string"},"totalParticipants":{"type":"number"},"classes":{"type":"array","items":{"$ref":"#/components/schemas/ClassBreakdownEntry"}}},"required":["leaderboardId","leaderboardName","totalParticipants","classes"]}},"required":["data"]}}}},"404":{"description":"Leaderboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{leaderboardId}/matches/{matchId}":{"get":{"summary":"Get match scores for a leaderboard","description":"Get calculated scores for a match in the context of a specific leaderboard. Returns 404 if scores are not cached.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"leaderboardId","in":"path"},{"schema":{"type":"string"},"required":true,"name":"matchId","in":"path"}],"responses":{"200":{"description":"Match scores","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matchId":{"type":"string"},"leaderboardId":{"type":"string"},"scoringMethod":{"type":"string"},"teamWon":{"type":"number"},"winType":{"type":"string","enum":["gacha","eliminations","wart"]},"mvpId":{"type":"string"},"calculatedAt":{"type":"string","format":"date-time"},"players":{"type":"array","items":{"$ref":"#/components/schemas/MatchScorePlayer"}}},"required":["matchId","leaderboardId","scoringMethod","teamWon","winType","calculatedAt","players"]}},"required":["data"]}}}},"404":{"description":"Match scores not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{id}/rankings":{"get":{"summary":"Get leaderboard rankings","description":"Get paginated leaderboard rankings from Redis cache. Returns 404 if leaderboard is not cached.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated leaderboard rankings","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LeaderboardRankingEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"},"leaderboardId":{"type":"string"},"leaderboardName":{"type":"string","nullable":true},"scoringMethod":{"type":"string","nullable":true},"updatedAt":{"type":"string","nullable":true,"format":"date-time"}},"required":["data","pagination","leaderboardId","leaderboardName","scoringMethod","updatedAt"]}}}},"404":{"description":"Leaderboard rankings not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{leaderboardId}/mokis/{mokiId}/rank":{"get":{"summary":"Get moki rank in leaderboard","description":"Get a specific Moki's rank and score in a leaderboard. Returns 404 if not found in cache.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"leaderboardId","in":"path"},{"schema":{"type":"string"},"required":true,"name":"mokiId","in":"path"}],"responses":{"200":{"description":"Moki rank data","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"mokiId":{"type":"string"},"leaderboardId":{"type":"string"},"rank":{"type":"number"},"score":{"type":"number"},"mokiTokenId":{"type":"number","nullable":true},"name":{"type":"string","nullable":true},"imageUrl":{"type":"string","nullable":true},"class":{"type":"string","nullable":true,"enum":["Striker","Defender","Bruiser","Sprinter","Support","Forward","Grinder","Flanker","Center","Anchor"]}},"required":["mokiId","leaderboardId","rank","score","mokiTokenId","name","imageUrl","class"]}},"required":["data"]}}}},"404":{"description":"Moki rank not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/scores/leaderboards/{id}/meta":{"get":{"summary":"Get leaderboard metadata","description":"Get leaderboard metadata from Redis cache. Returns 404 if not in cache.","tags":["Scores"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Leaderboard metadata","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"leaderboardId":{"type":"string"},"name":{"type":"string"},"scoringMethod":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"}},"required":["leaderboardId","name","scoringMethod","updatedAt"]}},"required":["data"]}}}},"404":{"description":"Leaderboard metadata not found (not cached)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/contests":{"get":{"summary":"List contests","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["daily","ftop"]},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"completed","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"featured","in":"query"},{"schema":{"type":"string","enum":["true","false"]},"required":false,"name":"cancelled","in":"query"},{"schema":{"type":"string","enum":["updatedAt","startDate","endDate","entries","name"],"default":"startDate"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of contests","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContestListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/contests/active":{"get":{"summary":"List currently active contests","description":"Returns contests where showDate <= now, endDate > now, not completed, not cancelled.","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of active contests","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContestListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/contests/bulk":{"get":{"summary":"Get contests by IDs","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Comma-separated contest IDs (max 100)"},"required":true,"name":"ids","in":"query"}],"responses":{"200":{"description":"List of contests","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contest"}}},"required":["data"]}}}}}}},"/api/v1/contests/{id}":{"get":{"summary":"Get contest by ID","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Contest details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contest"}},"required":["data"]}}}},"404":{"description":"Contest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/contests/{id}/entries":{"get":{"summary":"List contest entries (leaderboard)","description":"Returns paginated lineup entries for a contest, sorted by score descending.","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["updatedAt","score","perfCount"],"default":"score"},"required":false,"name":"sort","in":"query"},{"schema":{"type":"string","enum":["asc","desc"],"default":"desc"},"required":false,"name":"order","in":"query"}],"responses":{"200":{"description":"Paginated list of contest entries","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LineupEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}}}}},"/api/v1/contests/{id}/payouts":{"get":{"summary":"List contest prize payouts","description":"Returns paginated prize distribution records for a completed contest.","tags":["Contests"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of contest payouts","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContestPayout"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"Contest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/v1/users/{address}/entries":{"get":{"summary":"List user contest entries","description":"Returns paginated lineup entries for a user across all contests. Each entry includes a computed rank based on score position within its contest.","tags":["Users"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Wallet address (0x...)"},"required":true,"name":"address","in":"path"},{"schema":{"type":"number","minimum":1,"default":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Paginated list of user entries","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LineupEntry"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}}}